- name: Setup DevOps environment
  hosts: servers
  become: yes
  vars:
    mysql_root_password: "abhi1121"

  
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Enable and start Docker service
      systemd:
        name: docker
        enabled: yes
        state: started

    - name: Preconfigure MySQL root password
      debconf:
        name: 'mysql-server'
        question: 'mysql-server/root_password'
        value: "{{ mysql_root_password }}"
        vtype: 'password'

    - name: Preconfigure MySQL root password again (confirm)
      debconf:
        name: 'mysql-server'
        question: 'mysql-server/root_password_again'
        value: "{{ mysql_root_password }}"
        vtype: 'password'

    - name: Install MySQL server
      apt:
        name: mysql-server
        state: present

    - name: enabled and start MySQL service
      systemd:
        name: mysql
        enabled: yes
        state: started

    - name: Install MongoDB official APT repository
      apt_repository:
        repo: "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu {{ ansible_distribution_release }}/mongodb-org/6.0 multiverse"
        state: present
      
    - name: Add MongoDB GPG key
      apt_key:
        url: https://www.mongodb.org/static/pgp/server-6.0.asc
        state: present

    - name: Install MongoDB
      apt:
        name: mongodb-org
        state: present
        update_cache: yes

    - name: Enable and start MongoDB
      systemd:
        name: mongod
        enabled: yes
        state: started
        enabled: yes
      tags: mongodb